.bg-img {
    background-image: url("../public/yallaText.svg");
    background-repeat: no-repeat;    
    background-position:top;
}
@media only screen and (max-width: 1024px){
    .bg-img{
        background-image: none;
    }
}